* {
  font-size: 18pt;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Merriweather', serif;
}

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

/* 
  CheckBoxSlider 
  CSS from https://www.w3schools.com/howto/howto_css_switch.asp
*/

.cbs_switch {
  -webkit-transform: translateY(4px);
  -ms-transform: translateY(4px);
  transform: translateY(4px);
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
  margin: 0 6px;
}

.cbs_switch span {
  font-size: 0.7rem;
}

/* Hide default HTML checkbox */
.cbs_switch input {
  display: none;
}

/* 
  The slider 
*/

.cbs_slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.cbs_slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .cbs_slider {
  background-color: #2196F3;
}

input:focus + .cbs_slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .cbs_slider:before {
  -webkit-transform: translateX(12px);
  -ms-transform: translateX(12px);
  transform: translateX(12px);
}

/* Rounded sliders */
.cbs_slider.cbs_round {
  border-radius: 17px;
}

.cbs_slider.cbs_round:before {
  border-radius: 50%;
}

/* Delete Button */
.db_button i {
  color: red;
  font-size: .6rem;
}

/* Secrets */

#s_container {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.s_message {
  position: relative;
  background-color: #fff;
  padding: 1.3rem 1.5rem 1.6rem;
  margin: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  line-height: 1.2rem;
  font-family: 'East Sea Dokdo', cursive;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 64)
}

.s_message.me {
  box-shadow: 1px 1px 6px rgba(0, 127, 127, 64)
}

.s_controls {
  position: absolute;
  bottom: 0.1rem;
  right: 0.3rem;
}

.s_author {
  display: block;
  font-family: 'Merriweather', serif;
  font-size: 0.6rem;
  text-align: right;
}

/* Navbar */

header {
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
  margin-bottom: 1rem;
  padding: 0 1rem;
}

#nb_container {
  display: flex;
  justify-content: space-between;
  padding: 0.3rem 1rem;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 64);
  border-radius: 0 0 0.5rem 0.5rem;
}

#nb_brand a {
  color: black;
  font-family: 'East Sea Dokdo', cursive;
  font-size: 2.5rem;
  margin: 0;
  line-height: 1.2rem;
}

#nb_menu a {
  font-size: 0.5rem;
}

/* Form(s) */

#f_container, #af_container {
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  max-width: 400px;
}

#f_container > form {
  background-color: navy;
  color: white;
}

#f_container > form, #af_container > form {
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 64);
}

#f_container button {
  float: right;
  margin-top: 0.2rem;
}

#af_container label,
#f_container label, 
#f_container button, 
#af_container button,
#f_container span, 
#f_container textarea   {
  font-size: 0.6rem;
}

#af_container input {
  width: 100%;
  font-size: 0.8rem;
  margin-bottom: 1rem;
}

#f_container textarea {
  margin-top: 0.2rem;
  width: 100%;
  min-height: 100px;
}

#af_container button {
  padding: 0.2rem 0.4rem;
  border-radius: 0.3rem;
}